body {
    font-family: 'Merriweather', serif;
}

img.profile-link {
    object-fit: cover;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

img.avatar {
    object-fit: cover;
    height: 150px;
    min-width: 120px;
    box-shadow: 0 0 2px rgb(105, 105, 105);
}

@media screen and (min-width: 576px) {
    img.avatar {
        object-fit: cover;
        height: 250px;
        min-width: 190px;
        box-shadow: 0 0 2px rgb(105, 105, 105);
    }   
}